azure-core==1.27.1
azure-identity==1.13.0
azure-search-documents==11.4.0b6
azure-search-documents==11.4.0b6
azure-storage-blob==12.14.1
beautifulsoup4==4.12.2
Flask==2.3.2
Flask_Cors==4.0.0
langchain==0.0.276
markdown==3.4.4
openai==0.27.8
pypdf==3.9.0
python-decouple==3.8
requests==2.31.0
tenacity==8.2.2
tiktoken==0.4.0
pdfkit==1.0.0